<!doctype html>


<link rel="stylesheet" type="text/css" href="web/style.css">
<div class="nav-bar"></div>
<div id="app">
    <div id="entities" class="product">
        <div id="users" class="product-info">Users [{{ users.length }}]
            <ul class="v-list">
                <li v-for="user in users">{{ user.name }}</li>
            </ul>
        </div>
        <div id="orgs" class="product-info">Orgs [{{ orgs.length }}]
            <ul class="v-list">
                <li v-for="org in orgs">{{ org.name }} </li>
            </ul>
        </div>
        <div id="peerOrg3Employees" class="product-info">Employees for peerOrg3
            <ul class="v-list">
                <li v-for="value in peerOrg3Employees" >{{ value }}</li>
            </ul>
        </div>
        <div id="peerOrg4Employees" class="product-info">Employees for peerOrg4
            <ul class="v-list">
                <li v-for="value in peerOrg4Employees" >{{ value }}</li>
            </ul>
        </div>
        <div id="medical" >Medical
            <ul class="v-list">
                <li v-for="value in medical" >{{ value[0] }} => {{ value[1] }}</li>
            </ul>
        </div>
        <div id="workers" class="product-info">Worker
            <form v-on:submit.prevent="handleSubmit">
                <div class="field is-grouped">
                    <label class="label">Name</label>
                    <div class="control">
                        <input v-model="form.name" class="input" type="text" placeholder="Text input">
                    </div>
                    <div class="control">
                        <button class="button is-primary">Submit</button>
                    </div>
                </div>
            </form>
            <ul class="v-list">
                <li v-for="(value, name) in worker_records" >{{ value.key }}  => {{ value.resp ? value.resp.key : "PENDING" }}<button v-on:click="latestWorkOrder = value.value">Remove</button></li>
            </ul>
        </div>
        <div id="workOrderView" >WorkOrder View
            <!--<textarea v-model="latestWorkOrder" rows="8" cols="40"></textarea>-->
            <pre>{{ latestWorkOrder | pretty }}</pre>
            <!--<ul class="v-list">-->
                <!--<li v-for="value in medical" >{{ value[0] }} => {{ value[1] }}</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

    const app = new Vue({
        el: '#app',
        data: {
            form : {
                name: ''
            },
            users: [],
            orgs: [],
            worker: [],
            medical: [],
            peerOrg3Employees: [],
            peerOrg4Employees: [],
            polling: null,
            latestWorkOrder: "{}"
        },
        filters: {
            pretty: function(value) {
                return JSON.stringify(JSON.parse(value), null, 2);
            }
        },
        computed: {
            worker_records: function () {
                return this.worker
            }
        },
        methods: {
            pollData () {
                this.polling = setInterval(() => {
                    fetch('worker2')
                        .then(response => response.json())
                        .then(json => {
                            this.worker = json
                        })
                }, 3000)
            },
            handleSubmit (event) {
                console.log("Submitting" + this.form.name)
                axios.post('worker', {
                    key: this.form.name,
                    value: "N/A"
                }).then(function (response) {
                        console.log(response);
                }).catch(function (error) {
                        console.log(error);
                });
            }
        },
        beforeDestroy () {
            clearInterval(this.polling)
        },
        created() {
            this.console = console
            fetch('users')
                .then(response => response.json())
                .then(json => {
                    this.users = json.sort((t1,t2) => t1.name < t2.name ? -1 : 1)
            })
            fetch('orgs')
                .then(response => response.json())
                .then(json => {
                    this.orgs = json.sort((t1,t2) => t1.name < t2.name ? -1 : 1)
            })
            fetch('worker2')
                .then(response => response.json())
                .then(json => {
                    this.worker = json
            })
            fetch('medical')
                .then(response => response.json())
                .then(json => {
                    this.medical = json
            })
            fetch('employees/peerOrg3')
                .then(response => response.json())
                .then(json => {
                    this.peerOrg3Employees = json
            })
            fetch('employees/peerOrg4')
                .then(response => response.json())
                .then(json => {
                    this.peerOrg4Employees = json
            })
            peerOrg3Employees
            this.pollData()
        }
    })

</script>

<style>

    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }

    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }

</style>
<div>
    <svg width="1200" height="1200"></svg>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(function(d) {
            if (d.source.id.indexOf("peer") === 0 && d.target.id.indexOf("orderer") === 0) {
                return 200} else return 50}))
        .force("charge", d3.forceManyBody().strength(function(d) {
            if (d.type==="org") {
                return -120} else return -30}))
        .force("center", d3.forceCenter(width / 2, height / 2));

    d3.json("network", function(error, graph) {
        if (error) throw error;

        var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
            .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("r", 10)
            .attr("fill", function(d) { return color(d.group); })
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended));

        node.append("title")
            .text(function(d) { return d.id; });

        simulation
            .nodes(graph.nodes)
            .on("tick", ticked);

        simulation.force("link")
            .links(graph.links);

        function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
        }
    });

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

</script>
